*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body{
	background: linear-gradient(120deg,#2980b9,#8e44ad);
}
.container{
	height: auto;
	width: 100%;
}
.content{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding: 70px;
}
.content-1{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding: 50px;
	margin: 10px;
	
}
.form{
	text-align: center;
	height: 350px;
	width: 500px;
}
.text{
	width: 450px;
	height: 50px;
	display: block;
	border: 2px solid black;
	margin: 15px;
}
.button{
	width: 350px;
	height: 40px;
	background-color:slateblue ;
	color: white;
	margin: 10px;
}